#home {
  background: url(https://solely-resume.netlify.app/static/media/bgIMG.c39101e520e2997fc6d4.png);
  background-position: 50%;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

.social div {
  display: flex;
  background-color: var(--white-color);
  border: 1px solid var(--lightGray-color);
  border-radius: 50%;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0;
  transition: all 0.3s ease-in-out;
  width: 40px;
}

.navigation {
  z-index: 100;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.app__navigation-dot {
  background-color: #cbcbcb;
  border-radius: 50%;
  height: 10px;
  margin: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  width: 10px;
}

/* home page middle */
.app__wrapper {
  flex: 1 1;
  flex-direction: column;
  padding: 4rem 2rem;
  width: 100%;
}

/* left */
.app__header {
  flex: 1 1;
  flex-direction: row;
  height: 100%;
  padding: 6rem 2rem 0;
  position: relative;
  width: 100%;
}

.app__flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.app__header-info {
  align-items: flex-start;
  display: flex;
  flex: 0.65 1;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin: 0 2rem;
}

/* .app__header-badge {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
} */

.app__header-badge {
  justify-content: flex-end;
}

.app__header-badge .badge-cmp,
.app__header-badge .tag-cmp {
  background: var(--white-color);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  padding: 1rem 2rem;
  /* width: auto; */
  width: 230px;
}

.app__header-badge .tag-cmp {
  flex-direction: column;
  margin-top: 3rem;
}

.app__header-badge .tag-cmp {
  flex-direction: column;
  margin-top: 3rem;
}

.p-text {
  color: var(--gray-color);
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: left;
}

.app__header-badge span {
  font-size: 2.5rem;
}
/* middle */
.app__header-img {
  align-items: flex-end;
  display: flex;
  flex: 1 1;
  height: 100%;
  justify-content: flex-end;
  position: relative;
}

.app__header-img div {
  background-color: white;
  border-radius: 50%;
  width: 725px;
  height: 725px;
  background-image: url("../images/shizhong.jpg");
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: 75%;
}

.app__header-img .overlay_circle {
  bottom: 19px;
  height: 85%;
  left: 110px;
  position: absolute;
  right: 0;
  top: 50px;
  width: 87%;
  z-index: 0;
}

.app__header-circles {
  align-items: flex-start;
  display: flex;
  flex: 0.75 1;
  flex-direction: column;
  height: 70%;
  justify-content: space-evenly;
  margin-left: 3rem;
}

.app__header-circles div {
  background: var(--white-color);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 100px;
  width: 100px;
}

.app__header-circles div img {
  height: 60%;
  width: 60%;
}
