.navbar-toggler {
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  height: 35px;
  justify-content: center;
  position: relative;
  width: 35px;
}

.basic-navbar-nav svg {
  color: var(--white-color);
  height: 70%;
  width: 70%;
}
