.navbar-toggler {
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  height: 35px;
  justify-content: center;
  position: relative;
  width: 35px;
}

.basic-navbar-nav svg {
  color: var(--white-color);
  height: 70%;
  width: 70%;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.app_wrapper {
  flex-grow: 1;
}

#basic-navbar-nav a:hover {
  color: var(--secondary-color);
  /* font-weight: 600; */
}
