.app__work-portfolio .app__work-item {
  background-color: #fff;

  border-radius: 0.5rem;
  color: #000;
  cursor: pointer;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  transition: all 0.3s ease;
  width: 270px;
}

.app__work-img {
  height: 230px;
  position: relative;
  width: 100%;
}

.my-project {
  border-radius: 10px;
  background-color: white;
}
