.app__work-portfolio .app__work-item {
  background-color: #fff;

  border-radius: 0.5rem;
  color: #000;
  cursor: pointer;
  flex-direction: column;
  /* margin: 2rem; */
  padding: 1rem;
  transition: all 0.3s ease;
  /* width: 270px; */
}

.app__work-img {
  height: 230px;
  position: relative;
  width: 100%;
  /* overflow: hidden; */
  z-index: 1;
}

.app__work-img img {
  border-radius: 0.5rem;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.app__work-hover,
.app__work-hover div {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.app__work-hover {
  border-radius: 0.5rem;
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.app__work-hover:hover {
  opacity: 1;
}
.app__work-hover div {
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-family: var(--font-base);
  font-weight: 800;
  height: 50px;
  margin: 1rem;
  width: 50px;
}

.app__work-hover div svg {
  color: var(--white-color);
  height: 50%;
  width: 50%;
}

.app__work-hover div:hover {
  opacity: 1 !important;
}

.app__work-content {
  flex-direction: column;
  padding: 0.5rem;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.app__work-content .app__work-tag {
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  position: absolute;
  top: -48px;
  z-index: 10;
}

.p-text {
  color: var(--gray-color);
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: left;
  margin: 0 !important;
}

.my-project {
  border-radius: 10px;
  background-color: white;
}
